$globalWidth: 1024px;
$tngBlue: #0563A5;

$padding: 40px;
$width: $globalWidth - 2 * $padding;

@mixin alignVerticallyWithWidth($val) {
  position: absolute;

  width: $val;
  top: 50%;

  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

@mixin helveticaNeueBold {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

@mixin bigFont {
  @include helveticaNeueBold;
  font-size: 14.4rem;
  line-height: 15rem;
  letter-spacing: -1rem;
}

@mixin normalFontSize {
  font-size: 2.4rem;
  line-height: 3.5rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-weight: lighter;
  font: 10px/1 "HelveticaNeue-Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  text-rendering: optimizeLegibility;
}

ul {
  list-style: none;

  li {
    display: inline-block;
  }
}

.important-info {
  @include helveticaNeueBold;
}

#container {
  width: $globalWidth;
  margin: 0 auto;

  -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

#splash {
  position: relative;
  height: 72rem;
  padding: 0 $padding;

  background-image: url("munich.jpg");
  background-repeat: no-repeat;

  //  background-color: red;

  #statement {
    @include bigFont;

    @include alignVerticallyWithWidth($width);

    //    background-color:yellow;
  }

  #next-meetup {
    font-size: 2.8rem;
    line-height: 4rem;
    letter-spacing: -0.1rem;
    text-align: right;

    @include alignVerticallyWithWidth($width);

    //    background-color: green;
  }
}

#description {
  padding: 1.5 * $padding $padding; // hm... TODO

  a {
    color: black;
    text-decoration: none;
    border-bottom: 1px gray solid;
  }

  p {
    @include normalFontSize;

    margin-bottom: $padding;
  }

  .title {
    @include bigFont;
  }

  p.organisation {
    margin-bottom: $padding / 2;
  }

  div.organisation {
    font-size: 2rem;
    line-height: 2.75rem;

    div.organizer {
      position: relative;
      display: inline-block;
      width: $width / 2 - 40px;

      &:nth-child(odd) {
        margin-right: 20px;
      }

      &:nth-child(even) {
        margin-left: 20px;
      }

      margin-bottom: 20px;

//      background-color: bisque;

      a {
        border: none;
      }

      img {
        border-radius: 4px;
        @include alignVerticallyWithWidth(71px);
      }

      .organizer-info {
        padding-left: 71px + 20px;
        display: inline-block;
      }
    }
  }
}

#footer {
  padding: 1.5 * $padding $padding; // hm... TODO

  color: white;
  text-align: center;

  background-color: $tngBlue;

  a {
    color: white;
    text-decoration: none;
  }

  @include normalFontSize;

  li {
    padding: 0 $padding;
  }

  hr {
    width: 50%;
    border: none;
    background-color: white;
    height: 1px;
    margin: $padding auto;
  }

  #colophon {
    font-size: 1.4rem;
  }
}